extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Jorge Rehlaender
        p Full Stack JavaScript Developer

        .about-bio
          p Hi! I’m a passionate web developer dedicated to creating functional, user-friendly, and visually stunning websites. With a focus on clean code, responsive design, and seamless user experiences, I bring ideas to life on the web. I’m here to help turn your vision into reality. Let’s build something amazing together!


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li +52 81 8021 6420
          li jrehlaender91@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/jrehlaender/') LinkedIn
        a.btn-link(href='https://github.com/jrehlaender91') GitHub
        a.btn-link(href='https://www.instagram.com/jrehlaender/') Instagram

    nav.nav
      a(href='/')
        span &larr;
        |  Back