extends layout.pug

block content

  article.portfolio-intro

    h1 Let's make the web great together!
    p Portfolio description


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each val in projects
        .cell
          a(href=`projects/:${val.id}`)
            img.thumbnail(src=`${val.image_urls[0]}`, alt=`Thumbnail ${val.project_name}`)
            h5= val.project_name

